# Node.js
node_modules/

# Logs y archivos temporales
logs
*.log
npm-debug.log*

# Directorio de construcción
build/
dist/

# Dependencias generadas por esfuerzos de construcción
*.d.ts
*.js.map

# Ambiente de desarrollo
.env

# Configuración de sistema
.DS_Store
Thumbs.db
